
:root {

    --primary-color: #707CFF;
    --secundary-color: #70C3FF;

}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    .link {
        a {
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 10px;
        }
    }
}

.bienvenida {

    text-align: center;
    max-width: 900px;
    margin: 3rem auto;

    .descripcion {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
    p {
        width: 400px;
    }


}

}



.moduloVuelo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    form {
        padding: 40px;
        border-radius: 20px;
        background-color: var(--secundary-color);

        input {
            padding: 10px;
            border-radius: 10px;
            border: none;
            box-shadow: 0 5px 4px rgba($color: #000000, $alpha: 0.3);
            margin: 5px;
            transition: transform 0.3s ease;
            cursor: pointer;

            &:hover {
                transform: scale(1.1);
            }
        }

        #buscar {
            background-color: var(--primary-color);
            color: white;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: bold;
        }
    }
}