
// Este es el diseño de la barra de navegación

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, #007bff, #00b4d8);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);

    img {
        width: 60px;
        height: 60px;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.3);
        transition: transform 0.5s ease;
    }

    img:hover {
        transform: scale(1.1);
    }

    h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    letter-spacing: 10px;
    text-align: center;
    color: #333;
    text-decoration: underline;
}

.link {
        
        a {
            text-decoration: none;
            font-size: 22px;
            margin: 10px;
            font-family: "Oswald", sans-serif;
            color: white;
            text-shadow: 1px 1px 4px black;
            transition: transform 0.3s ease;
            display: inline-block;

            &:hover {
                color: #4b9ef7;
                transform: scale(1.1);
            }

        }


    }

    }






// Este es el diseño del login


.Login {
    background-image: url(img/login.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    margin: 20px auto;
    border-radius: 20px;

    .login, .usuario {
        display: flex;
        text-align: center;
        flex-direction: column;
        width: 90%;
        max-width: 900px;
        margin: 20px auto;
        border-radius: 20px;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
        padding: 10px;

        form{

            box-shadow: 0 0 20px rgba(0,0,0,0.3);
            border-radius: 20px;
            border: 1px solid rgba(255, 255, 255, 0.3);

        }

        h2 {
        text-align: center;
        background: linear-gradient(90deg, #007bff, #00b4d8);
        padding: 20px;
        max-width: 700px;
        margin: 20px auto;
        border-radius: 20px;
        color: white;
        text-shadow: 1px 1px 4px black;
        font-family: "Oswald", sans-serif;
        text-decoration: underline;
        letter-spacing: 3px;

        }

        form {
            width: 300px;
            margin: auto;
            align-items: center;
            border: 1px solid rgba(255, 255, 255, 0.3);

            label {
                display: block;
                font-size: 22px;
                font-family: "Poppins", sans-serif;
                margin: 10px;
                text-decoration: underline;
                text-shadow: 1px 1px white;
            }

            input {

                display: block;
                text-align: center;
                margin: 10px auto;
                padding: 15px;
                background: rgba(0,0,0,0.1);
                border: none;
                border-radius: 10px;
                transition: transform 0.4s ease;

                &:hover {
                    transform: scale(1.1);
                }

            }
            button {

                border: none;
                padding: 20px;
                border-radius: 10px;
                font-size: 15px;
                background-color: #007bff7c;
                cursor: pointer;
                transition: transform 0.5s ease;
                color: white;
                margin: 5px;


                &:hover {
                    background: #0056b37c;
                    transform: scale(1.1);
                }

            }


        }

    }

}


.usuario{
    display: flex;
        text-align: center;
        flex-direction: column;
        width: 90%;
        max-width: 1000px;
        margin: 20px auto;
        border-radius: 20px;
        background: #fdfdfd;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
        padding: 20px;


}

.vuelos {
    background-image: url(img/checkin.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    border-radius: 20px;


    h2 {
        text-align: center;
        background: linear-gradient(90deg, #007bff, #00b4d8);
        padding: 20px;
        max-width: 700px;
        margin: 20px auto;
        border-radius: 20px;
        color: white;
        text-shadow: 1px 1px 4px black;
        font-family: "Oswald", sans-serif;
        text-decoration: underline;
        letter-spacing: 3px;
    }

.busquedaVuelos {
    max-width: 900px;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0 8px 32px rgba(0,0,0,0.1);
    border-radius: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    fieldset {

        border-radius: 40px;
        margin: 15px;
        box-shadow: 0 0 20px rgba(0,0,0,0.3);
        border: 1px solid rgba(255, 255, 255, 0.3);

        legend{
            font-size: 25px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-shadow: 1px 1px white;

        }

        label {
            font-size: 20px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        select, input {

            padding: 10px;
            border-radius: 15px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 18px;
            margin-left: 5px;
            margin-right: 5px;
            background: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(10px);
            border: 1px solid rgba(255, 255, 255, 0.3);
            transition: transform 0.5s ease;

            &:hover {
                transform: scale(1.1);
            }
        }

    }

    div {
        button {

                border: 1px solid rgba(255, 255, 255, 0.3);
                padding: 20px;
                border-radius: 10px;
                font-size: 15px;
                background-color: #007bff7c;
                cursor: pointer;
                transition: transform 0.5s ease;
                color: white;
                margin: 5px;



                &:hover {
                    background: #0056b37c;
                    transform: scale(1.1);
                }

            }
    }

}





}





// Este es el diseño del sobre nosotros



.sobre {
    background-image: url(img/about_us.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 10px;

    h2 {
        text-align: center;
        background: linear-gradient(90deg, #007bff, #00b4d8);
        padding: 20px;
        max-width: 700px;
        margin: 20px auto;
        border-radius: 20px;
        color: white;
        text-shadow: 1px 1px 4px black;
        font-family: "Oswald", sans-serif;
        text-decoration: underline;
        letter-spacing: 3px;
    }


    .container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        gap: 2em;
        margin: auto;


        article {
            padding: 10px;
            border-radius: 20px;
            box-shadow: 0 0 5px rgba(0,0,0,0.3);
            text-align: center;
            transition: transform 0.5s ease;
            backdrop-filter: blur(5px);
            border: 1px solid rgba(255, 255, 255, 0.3);

            &:hover {
                transform: scale(1.05);
            }

            h3{
                font-size: 25px;
                font-family: "Oswald", sans-serif;
                text-shadow: 1px 1px 4px rgba(46, 46, 46, 0.2);
                text-shadow: 1px 1px white;
            }

            p, ul{
                text-shadow: 1px 1px white;
                font-size: 18px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }

        }

    }





}


.servicios {
    background-image: url(img/service.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    border-radius: 20px;

    h2 {
        text-align: center;
        background: linear-gradient(90deg, #007bff, #00b4d8);
        padding: 20px;
        max-width: 700px;
        margin: 20px auto;
        border-radius: 20px;
        color: white;
        text-shadow: 1px 1px 4px black;
        font-family: "Oswald", sans-serif;
        text-decoration: underline;
        letter-spacing: 3px;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: 2em;
        margin: auto;

        article {
            padding: 10px;
            border-radius: 20px;
            box-shadow: 0 0 5px rgba(0,0,0,0.3);
            text-align: center;
            transition: transform 0.5s ease;
            backdrop-filter: blur(5px);
            border: 1px solid rgba(255, 255, 255, 0.3);

            &:hover {
                transform: scale(1.05);
            }

            h3{
                color: white;
                font-size: 25px;
                font-family: "Oswald", sans-serif;
                text-shadow: 1px 1px 4px rgba(46, 46, 46, 0.2);
                text-shadow: 2px 2px black;
            }

            p {
                color: white;
                text-shadow: 2px 2px black;
                font-size: 18px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
        }

    }



}


.comentario {
    background-image: url(img/experiencia.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;

    h2 {
        text-align: center;
        background: linear-gradient(90deg, #007bff, #00b4d8);
        padding: 20px;
        max-width: 700px;
        margin: 20px auto;
        border-radius: 20px;
        color: white;
        text-shadow: 1px 1px 4px black;
        font-family: "Oswald", sans-serif;
        text-decoration: underline;
        letter-spacing: 3px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 900px;
        margin: 20px auto;
        padding: 20px;
        box-shadow: 0 0 20px rgba(0,0,0,0.3);
        border-radius: 20px;
        background: rgba(0,0,0,0.1);
        border: 1px solid rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(10px);



        label {
            font-size: 25px;
            font-family: "Oswald", sans-serif;
            margin: 10px;
            color: white;
            text-shadow: 2px 2px black;
            letter-spacing: 3px;
        }

        textarea {
            border: none;
            border-radius: 20px;
            text-align: center;
            color: white;
            background: none;
            box-shadow: 0 0 20px rgba(0,0,0,0.3);
            border: 1px solid rgba(255, 255, 255, 0.3);
        }
        
        
    }


    button {

                border: 1px solid rgba(255, 255, 255, 0.3);
                padding: 20px;
                border-radius: 10px;
                font-size: 15px;
                background-color: #007bff7c;
                cursor: pointer;
                transition: transform 0.5s ease;
                color: white;
                margin: 5px;



                &:hover {
                    background: #0056b37c;
                    transform: scale(1.1);
                }

            }






}