header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, #007bff, #00b4d8);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);

    img {
        width: 60px;
        height: 60px;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.3);
        transition: transform 0.5s ease;
    }

    img:hover {
        transform: scale(1.1);
    }

    h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    letter-spacing: 10px;
    text-align: center;
    color: #333;
    text-decoration: underline;
}

    .link {
        
        a {
            text-decoration: none;
            font-size: 22px;
            margin: 10px;
            font-family: "Oswald", sans-serif;
            color: white;
            text-shadow: 1px 1px 4px black;
            transition: transform 0.3s ease;
            display: inline-block;

            &:hover {
                color: #4b9ef7;
                transform: scale(1.1);
            }

        }


    }

    }



