header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #007bff, #00b4d8);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
header img {
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s ease;
}
header img:hover {
  transform: scale(1.1);
}
header h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 10px;
  text-align: center;
  color: #333;
  text-decoration: underline;
}
header .link a {
  text-decoration: none;
  font-size: 22px;
  margin: 10px;
  font-family: "Oswald", sans-serif;
  color: white;
  text-shadow: 1px 1px 4px black;
  transition: transform 0.3s ease;
  display: inline-block;
}
header .link a:hover {
  color: #4b9ef7;
  transform: scale(1.1);
}

.Login {
  background-image: url(img/login.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  margin: 20px auto;
  border-radius: 20px;
}
.Login .login, .Login .usuario {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 90%;
  max-width: 900px;
  margin: 20px auto;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 10px;
}
.Login .login form, .Login .usuario form {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.Login .login h2, .Login .usuario h2 {
  text-align: center;
  background: linear-gradient(90deg, #007bff, #00b4d8);
  padding: 20px;
  max-width: 700px;
  margin: 20px auto;
  border-radius: 20px;
  color: white;
  text-shadow: 1px 1px 4px black;
  font-family: "Oswald", sans-serif;
  text-decoration: underline;
  letter-spacing: 3px;
}
.Login .login form, .Login .usuario form {
  width: 300px;
  margin: auto;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.Login .login form label, .Login .usuario form label {
  display: block;
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  margin: 10px;
  text-decoration: underline;
  text-shadow: 1px 1px white;
}
.Login .login form input, .Login .usuario form input {
  display: block;
  text-align: center;
  margin: 10px auto;
  padding: 15px;
  background: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 10px;
  transition: transform 0.4s ease;
}
.Login .login form input:hover, .Login .usuario form input:hover {
  transform: scale(1.1);
}
.Login .login form button, .Login .usuario form button {
  border: none;
  padding: 20px;
  border-radius: 10px;
  font-size: 15px;
  background-color: rgba(0, 123, 255, 0.4862745098);
  cursor: pointer;
  transition: transform 0.5s ease;
  color: white;
  margin: 5px;
}
.Login .login form button:hover, .Login .usuario form button:hover {
  background: rgba(0, 86, 179, 0.4862745098);
  transform: scale(1.1);
}

.usuario {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  border-radius: 20px;
  background: #fdfdfd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.vuelos {
  background-image: url(img/checkin.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  border-radius: 20px;
}
.vuelos h2 {
  text-align: center;
  background: linear-gradient(90deg, #007bff, #00b4d8);
  padding: 20px;
  max-width: 700px;
  margin: 20px auto;
  border-radius: 20px;
  color: white;
  text-shadow: 1px 1px 4px black;
  font-family: "Oswald", sans-serif;
  text-decoration: underline;
  letter-spacing: 3px;
}
.vuelos .busquedaVuelos {
  max-width: 900px;
  margin: 20px auto;
  text-align: center;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.vuelos .busquedaVuelos fieldset {
  border-radius: 40px;
  margin: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.vuelos .busquedaVuelos fieldset legend {
  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: 1px 1px white;
}
.vuelos .busquedaVuelos fieldset label {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.vuelos .busquedaVuelos fieldset select, .vuelos .busquedaVuelos fieldset input {
  padding: 10px;
  border-radius: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  margin-left: 5px;
  margin-right: 5px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: transform 0.5s ease;
}
.vuelos .busquedaVuelos fieldset select:hover, .vuelos .busquedaVuelos fieldset input:hover {
  transform: scale(1.1);
}
.vuelos .busquedaVuelos div button {
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
  border-radius: 10px;
  font-size: 15px;
  background-color: rgba(0, 123, 255, 0.4862745098);
  cursor: pointer;
  transition: transform 0.5s ease;
  color: white;
  margin: 5px;
}
.vuelos .busquedaVuelos div button:hover {
  background: rgba(0, 86, 179, 0.4862745098);
  transform: scale(1.1);
}

.sobre {
  background-image: url(img/about_us.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px;
  border-radius: 10px;
}
.sobre h2 {
  text-align: center;
  background: linear-gradient(90deg, #007bff, #00b4d8);
  padding: 20px;
  max-width: 700px;
  margin: 20px auto;
  border-radius: 20px;
  color: white;
  text-shadow: 1px 1px 4px black;
  font-family: "Oswald", sans-serif;
  text-decoration: underline;
  letter-spacing: 3px;
}
.sobre .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 2em;
  margin: auto;
}
.sobre .container article {
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: transform 0.5s ease;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.sobre .container article:hover {
  transform: scale(1.05);
}
.sobre .container article h3 {
  font-size: 25px;
  font-family: "Oswald", sans-serif;
  text-shadow: 1px 1px 4px rgba(46, 46, 46, 0.2);
  text-shadow: 1px 1px white;
}
.sobre .container article p, .sobre .container article ul {
  text-shadow: 1px 1px white;
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.servicios {
  background-image: url(img/service.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  border-radius: 20px;
}
.servicios h2 {
  text-align: center;
  background: linear-gradient(90deg, #007bff, #00b4d8);
  padding: 20px;
  max-width: 700px;
  margin: 20px auto;
  border-radius: 20px;
  color: white;
  text-shadow: 1px 1px 4px black;
  font-family: "Oswald", sans-serif;
  text-decoration: underline;
  letter-spacing: 3px;
}
.servicios .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2em;
  margin: auto;
}
.servicios .container article {
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: transform 0.5s ease;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.servicios .container article:hover {
  transform: scale(1.05);
}
.servicios .container article h3 {
  color: white;
  font-size: 25px;
  font-family: "Oswald", sans-serif;
  text-shadow: 1px 1px 4px rgba(46, 46, 46, 0.2);
  text-shadow: 2px 2px black;
}
.servicios .container article p {
  color: white;
  text-shadow: 2px 2px black;
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.comentario {
  background-image: url(img/experiencia.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
}
.comentario h2 {
  text-align: center;
  background: linear-gradient(90deg, #007bff, #00b4d8);
  padding: 20px;
  max-width: 700px;
  margin: 20px auto;
  border-radius: 20px;
  color: white;
  text-shadow: 1px 1px 4px black;
  font-family: "Oswald", sans-serif;
  text-decoration: underline;
  letter-spacing: 3px;
}
.comentario form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
}
.comentario form label {
  font-size: 25px;
  font-family: "Oswald", sans-serif;
  margin: 10px;
  color: white;
  text-shadow: 2px 2px black;
  letter-spacing: 3px;
}
.comentario form textarea {
  border: none;
  border-radius: 20px;
  text-align: center;
  color: white;
  background: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.comentario button {
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
  border-radius: 10px;
  font-size: 15px;
  background-color: rgba(0, 123, 255, 0.4862745098);
  cursor: pointer;
  transition: transform 0.5s ease;
  color: white;
  margin: 5px;
}
.comentario button:hover {
  background: rgba(0, 86, 179, 0.4862745098);
  transform: scale(1.1);
}

/*# sourceMappingURL=style.css.map */
