:root {

    --primary-color: #707CFF;
    --secundary-color: #70C3FF;
    --text-font: "Montserrat", sans-serif;
    --title-font: "Poppins", sans-serif;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("img/fondo-login.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main {
    min-height: 73.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}





#user-container {

    .user-card {
        backdrop-filter: blur(10px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 1000px;
        padding: 50px;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        border: 1px solid rgba(255, 255, 255, 0.3);

        img {
            border-radius: 30px;
            border: 2px solid;
            margin: 10px;
        }

        h2 {
            color: white;
            font-family: var(--text-font);
            text-shadow: 2px 2px black;
            font-size: 30px;
        }

        .user-title {
            font-size: 40px;
        }
    }

    .logout {
        padding: 15px;
        margin-top: 30px;
        border-radius: 10px;
        font-family: var(--text-font);
        font-weight: bold;
        color: white;
        text-shadow: 1px 1px black;
        background: var(--primary-color);
        border: none;
        cursor: pointer;
        transition: transform 0.3s ease, background 0.3s ease;

        &:hover{
            transform: scale(1.05);
            background: #5A67E6;
        }
    }
}